.activity__header {
  background: -webkit-linear-gradient(#ee7752, #e73c7e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.activity__dropdown {
  width: 80%;
}
