.user__header {
  background: -webkit-linear-gradient( #23a6d5, #23d5ab);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

.user__dropdown {
  width: 80%;
}

.user__dropdown > .p-dropdown:not(.p-disabled):hover {
  border-color: red;
}
